#flask
#pytesseract
#gunicorn
#regex
#numpy
#pandas
#opencv-python-headless


Flask
Flask-Sijax
Flask-Babel
Flask-Cors
#Flask-Login==0.4.0
#Flask-Mail==0.9.1
Flask-OpenID
#Flask-SQLAlchemy==2.2
#Flask-WhooshAlchemy==0.56
Flask-WTF
#buttercms-python==0.7

click
itsdangerous

MarkupSafe
# opencv-python==4.3.0.38
opencv-python-headless

gunicorn
Jinja2

pep8
python-dateutil

#redis==2.10.5
requests
# requests
#requests-oauthlib==0.8.0

virtualenv==15.1.0
Werkzeug==1.0.1

WTForms==2.1

#dj-database-url==0.4.1
#psycopg2
whitenoise
#laonlp==0.2.dev1
laonlp
#freeze
pytesseract
#fastai
#Pyrebase
regex
numpy
# pandas <1.1
pandas
openpyxl
nltk
pyreadr
# xlrd
